html, body {
	background: #cac2d1;
	caret-color: transparent;
	font-family: "Copperplate", fantasy, "Lucida Console", monospace;
	margin: auto;
	width: 100%;
}

.box {
	position: fixed;		/* or absolute */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card {
	display: grid;
	grid-template-rows: 2rem 4rem 4rem 1fr;
	grid-template-columns: 1fr;
	width: 400px;
	height: 500px;
	border-radius: 35px;
	background: -moz-linear-gradient(225deg, #b6afbc,#d8d0e0);
	background: -webkit-linear-gradient(225deg, #b6afbc,#d8d0e0);
	background: -ms-linear-gradient(225deg, #b6afbc,#d8d0e0);
	box-shadow:  -40px 40px 80px #aca5b2,
             	40px -40px 80px #e8dff0;
}

.display {
	margin: auto;
	grid-row: 2 / 4;			/* Second line to fourth line */
	grid-column: 1 / -1;	/* First line to last line */
}

.display img {
	height: 100%;
	aspect-ratio: 1 / 1;	/* So that width = height */
	border-radius: 50%;		/* Creates a circle */
}

.content {
	color: black;
	grid-row: 4 / 5;
	grid-column: 1 / -1;
	text-align: center;
}

.content h1 {
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.content span {
	font-size: 16px;
}

.content ul {
	cursor: pointer;
	list-style-type: none;
	padding: 0;
}

.content li {
	width: 50%;
	border: 2px solid black;
	border-radius: 15px;
	margin: 4px auto;
	padding: 5px;
}

.content a {
	text-decoration: none;
}

.content li span {
	color: black;
}

.content li span:hover {
	color: white;
	font-size: 18px;
}

#icon-01 {
	color: white;
	background: #5865f2;
	border-radius: 20%;
}

#icon-02 {
	color: white;
	background: #333333;
	border-radius: 50%;
}

#icon-03 {
	color: #0b64c3;
	background: white;
	border-radius: 15%;
}
