html, body {
	background: #7c4ca4;
	caret-color: transparent;
	font-family: "Copperplate", fantasy, "Lucida Console", monospace;
	margin: auto;
	width: 100%;
}

.box {
	position: fixed;		/* or absolute */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card {
	display: grid;
	grid-template-rows: 2rem 4rem 4rem 1fr;
	grid-template-columns: 1fr;
	width: 400px;
	height: 500px;
	border-radius: 35px;
	background: -moz-linear-gradient(145deg, #8551af, #704494);
	background: -webkit-linear-gradient(145deg, #8551af, #704494);
	background: -ms-linear-gradient(145deg, #8551af, #704494);
	box-shadow:  15px 15px 25px #3e2652,
             	-15px -15px 25px #ba72f6;
}

.display {
	margin: auto;
	grid-row: 2 / 4;			/* Second line to fourth line */
	grid-column: 1 / -1;	/* First line to last line */
}

.display img {
	height: 100%;
	aspect-ratio: 1 / 1;	/* So that width = height */
	border-radius: 50%;		/* Creates a circle */
}

.content {
	grid-row: 4 / 5;
	grid-column: 1 / -1;
	text-align: center;
}

.content h1 {
	color: white;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 0;
}

#text-00 {
	color: goldenrod;
	display: block;
	font-size: 16px;
}

.content p {
	font-size: 16px;
	margin: auto;
}

.content ul {
	cursor: pointer;
	list-style-type: none;
	padding: 0;
}

.content li {
	width: 50%;
	border: 2px solid white;
	border-radius: 15px;
	margin: 4px auto;
	padding: 5px;
}

.content a {
	text-decoration: none;
}

#text-01 {
	color: white;
	font-size: 18px;
}

#text-01:hover {
	color: goldenrod;
}

#icon-01 {
	color: white;
	background: #5865f2;
	border-radius: 20%;
}

#icon-02 {
	color: white;
	background: #333333;
	border-radius: 50%;
}

#icon-03 {
	color: #0b64c3;
	background: white;
	border-radius: 15%;
}
